<p id="notice"><%= notice %></p>

<h1>Listing Tasks</h1>

<div>
  <%= link_to 'New Task', new_task_path %>
</div>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Interval (seconds)</th>
      <th>League</th>
      <th>PID</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.id %></td>
        <td><%= task.interval %></td>
        <td><%= task.league_name %></td>
        <td><%= task.pid %></td>
        <td>
          <a href="#" class="btn btn-primary">Start</a>
          <a href="#" class="btn btn-warning">Stop</a>
          <%= link_to 'Delete', task_path(task), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
